
<div *ngIf="salary">
    <h2><span>Salary</span> {{salary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Salary</span></dt>
        <dd>
            <span>{{salary.salary}}</span>
        </dd>
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{salary.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
            <span>{{salary.toDate | date:'medium'}}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
            <div *ngIf="salary.employee">
                <a [routerLink]="['/employee', salary.employee?.id]">{{salary.employee?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'salary/'+ salary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
